/* General */
label{
    font-size: 15px;
}
header button{
    width: 20px;
    height: 20px;
}
header .burger-menu{
    display: none;
}
header nav{
    display: none;
}
footer div.generalFooter{
    display:none;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main label{
    margin: 3px;
    min-width: 125px;
}
input[type=date],
main input[type=text],
main input[type=email],
main input[type=password]{
    width: 280px;
    height: 24px;
    padding: 14px 20px;
    margin: 2px 0;
}
#buttons{
    margin-top: 5px;
    justify-content: center;
}
main button[type=submit]{
    background-color: #1259c3;
}
main button{
    width: 100px;
    height: 25px;
}
#userInfo,
#userProfile,
#userConfig{
    flex-wrap: wrap;
    width: 300px;
    align-items: center;
    justify-content: center;
}
#interestCategories{
    flex-wrap: wrap;
    width: 260px;
    justify-content: center;
    align-items: flex-start;
}
#interest::after{
    display: block;
    content: 'Puede seleccionar más de una';
    margin-left: 5px;
    font-size: 14px;
    font-weight: lighter;
}
/* input:valid{
    border: 1px solid blue;
}
input:invalid{
    border: 1px solid red;
} */
.logButton:hover{
    background-color: #0022AA;
}

/* Queries */
@media (min-width: 361px) { /* Tablet */
    #userProfile {
        flex-direction: row;
    }
}
@media (min-width: 769px) { /* Desktop */
    main{
        width: 60%;
    }
}