@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}
a {
  color: #000;
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header {
  background-color: #eac926;
}

header div.logo,
header .form {
  width: 50%;
}

header .form {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
}
header nav {
  font-size: 14px;
  margin-left: 20px;
  flex-direction: row;
  justify-content: space-between;
  height: 0;
  display: none;
}
header nav.active{
  display: flex;
  height: auto;
  padding-right: 28px;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}

header .form .submit {
  display: flex;
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 20px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}
.description{
  height: 0px;
  opacity: 0;
  transition: .3s ease all;
}


section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
  transition: .3s ease all;
}
main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article:hover .description{
  height: auto;
  opacity: 1;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: .3s ease all;
}
main section article:hover i{
  transform: rotate(-90deg);
}

main section h3 {
  margin: 20px 0px;
}


article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

/* Footer */
footer{
    display:block;
    background-color: #fefefe;
    text-align: center;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
    /* position: absolute;
    bottom: 0; */
}
footer i{
    color: #1259c3;
    opacity: .7;
    font-size: 3em;
    transition: .3s ease all;
    margin: auto;
    width: fit-content;
}
footer i:hover{
    opacity: 1;
  }
div.footer{
    text-align: center;
    margin: 0 1% ;
    display:block;
    font-size: 12px;
    font-display: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer h5{
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
    color:black;
}
.footer p{
    color: #666;
}
.copyright{
  text-align: start;
  color: #666;
  padding: 10px 28px;
}

/* Queries */
@media (min-width: 361px) {
  header{
    padding: 20px 28px;
  }
  header nav{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  header>div.burger-menu{
    display: none;
  }

  main section div.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main section div.products article {
    width: 45%;
  }

  .price {
    width: 60%;
  }
  .discount {
    width: 40%;
  }
}

@media (min-width: 769px) {
  main section div.products article {
    width: 22%;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  footer .generalFooter{
    display: flex;
    width: 100%;
  }
  footer .footer{
    display: flex;
    flex-direction: column;
    width: 32%;
  }
}
