/* Imports */
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css';

/* General */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}
a{
  color: #000;
}
.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
/* Header */
header {
  background-color: #eac926;
}

div.top-header {
  display: flex;
  flex-wrap: nowrap;
  padding: 5%;
  align-items: center;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header div.logo {
  padding: 10px;
  width: 35%;
}
header form{
  width: 300px;
}
header #search{
  width: 250px;
}
header form button{
  width: 25px;
  height: 25px;
}
div.burger-menu {
  display: block;
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

header nav {
  font-size: 12px;
  display: none;
  margin: 0 0.5%;
  justify-content: space-between;
}

/* Footer */
footer{
    display:block;
    background-color: #fefefe;
    text-align: center;
    height: auto;
    padding-top: 10px;
    box-sizing: border-box;
}
footer i{
    color: #1259c3;
    font-size: 3em;
    
}
div.footer{
    text-align: center;
    margin: 0 1% ;
    display:block;
    font-size: 12px;
    font-display: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer h5{
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
    color:black;
}
.footer p{
    color: #666;
}
.copyright{
    left: 10px;
    text-align: start;
}

/* Queries */
@media (min-width: 361px) { /* Tablet */
  /* Header */
  header nav{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px
  }
  header nav ul{
    display: flex;
    flex-wrap: wrap;
  }
  header nav ul li{
    margin: 0 5px;
  }
  header>div.burger-menu{
    display: none;
  }

  /* Footer */

}

@media (min-width: 769px) { /* Desktop */
  /* Header */
  
  
  /* Footer */
  footer{
    display: flex;
    flex-direction: column;
  }
  footer .generalFooter{
    display: flex;
    width: 100%;
  }
  footer .footer{
    display: flex;
    flex-direction: column;
    width: 32%;
  }
}
